
li{
    list-style-type:none;
    border: 1px solid purple;
    margin: 10px;
    cursor: pointer;
    position: relative;
}


.remove {
    float: left;
    margin-left: 60px;
    height: 15px;
    padding: 15px;
    background-color: purple;
    color: white;
    border: none;
    position: absolute;
    bottom: -2px;
    right: 3px;

}


