.sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
    color: black;
    background-color: white;
}

button{
    float: left;
    margin-left: 60px;
    padding: 15px;
    background-color: purple;
    color: white;
    border: none;
}